* {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

main {
  width: 70%;
  margin: auto;
}
img {
  width: 700px;
}
.slideshow-container {
  text-align: center;
}
